{% load static %}
<body class="main-layout inner_page blog_page">
   <header>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="full">
                  <div class="header_section">
                     <div class="menu_section">
                        <nav class="navbar">
                           <ul>
                              <li><a href="{% url 'home' %}">Home</a></li>
                              <li><a href="{% url 'about' %}">About</a></li>
                              <li><a href="{% url 'service' %}">Service</a></li>
                              <li><a class="active" href="{% url 'blog' %}">Blog</a></li>
                              <li><a href="{% url 'contact' %}">Contact us</a></li>
                              <li class="d_none"><a href="Javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                              <li class="d_none"><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                           </ul>
                           <button class="nav-toggler">
                              <span></span>
                           </button>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- end header inner -->

   <!-- blog -->
   <div class="blog">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage text_align_center">
                  <h2>Latest Blog</h2>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
               </div>
            </div>
         </div>
         <div class="row d_flex">
            <div class="col-md-4">
               <div class="latest">
                  <figure><img src="{% static 'images/blog1.jpg' %}" alt="#"/></figure>
                  <span>16 March</span>
                  <div class="nostrud">
                     <h3>Quis Nostrud </h3>
                     <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                     <a class="read_more" href="{% url 'blog' %}">Read More</a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="latest">
                  <figure><img src="{% static 'images/blog2.jpg' %}" alt="#"/></figure>
                  <span class="yellow">17 March</span>
                  <div class="nostrud">
                     <h3>Veniam, Quis </h3>
                     <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                     <a class="read_more" href="{% url 'blog' %}">Read More</a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="latest">
                  <figure><img src="{% static 'images/blog3.jpg' %}" alt="#"/></figure>
                  <span>18 March</span>
                  <div class="nostrud">
                     <h3>Tempor incididunt </h3>
                     <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                     <a class="read_more" href="{% url 'blog' %}">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end blog -->

   <!-- Подключение скриптов -->
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/custom.js' %}"></script>
</body>
